ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
background {
  background-image: url(https://raw.githubusercontent.com/xxxcoder-ui/printed/refs/heads/main/gift.jpg);
  border: 2px solid black;
}

transbox {
  margin: 130px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

transbox p {
  margin: 15%;
  font-weight: bold;
  color: #000000;
}
input[type=text] {
  width: 100%;
  padding: 120px 200px;
  margin: 100px 0;
  box-sizing: border-box;
  border: none;
  background-color: #3CBC8D;
  background: url(https://raw.githubusercontent.com/xxxcoder-ui/printed/refs/heads/main/gift.jpg) ;
  color: white;
}
